<div class="site-list">
  <div *ngFor="let site of sites$ | async" class="site-card">
    <div class="card-header">
      <img *ngIf="site.logo" [src]="site.logo" class="card-logo" />
      <h2 class="card-title">
        <a [routerLink]="['/sites', site.id]">{{ site.name }}</a>
      </h2>
    </div>

    <p class="card-info">
      {{ site.location.city }}, {{ site.location.address }}
    </p>

    <img
      *ngIf="site.pictures[0]"
      [src]="site.pictures[0]"
      class="card-picture"
    />
  </div>
</div>
